[2019-11-18 15:45] natillasol opened #20 "Limit on the claims per day per user"
Add validation to make the create action form only allow creation with there at least two validators (validators checkbox must be on)

[2019-11-18 19:08] lucca65 commented on #20
@natillasol we already have a feature for usages during the action creation. Also, it is part of the job of the verifier to actually approve those claims. Are you sure we need another feature for that? Looks like the problem can be avoided by having a verifier around.

[2019-11-18 20:57] natillasol commented on #20
@muguika based on the feedback from coopeborbón, what do you think?

[2019-11-19 00:03] muguika commented on #20
Actions in Borboins are related with participation in real life events, like a workshop or a talk.  So their actions are general actions like "I got on time to the workshop" and whoever gets to the activity on time can claim that action. As they don't know before hand how many people is going to attend, it is difficult to predefine an amount of actions that can be claimed (they can have 4 differen

[2019-11-19 12:11] heltonlr commented on #20
Hello @muguika, I would like to understand better:

Lets talk about at meeting today?

And I agree with @lucca65, it is part of the job of the verifier. We will also talk about this today to understand the real problem.

[2019-11-26 09:39] zacck opened #1 "Display a user friendlier message when Javascript is disabled"
**Is your feature request related to a problem? Please describe.**
I always ashamed of the user message I run into when my  browser has Javascript disabled and I am trying to access the website.
All one sees is a single line of text at the top right of the screen saying one needs to enable Javascript

**Describe the solution you'd like**
Since we are going to be catering for low powered device usa

[2019-11-26 09:40] zacck commented on #1
@heltonlr  is this something you would consider designing?

[2019-11-26 11:02] heltonlr commented on #1
Certainly @zacck , I will create this interface and send it to you tomorrow.

[2019-11-26 13:39] zacck commented on #1
Oh so fast!  Thank you so  much @heltonlr

[2019-11-27 16:55] lucca65 opened #3 "Add block explorer"
**Is your feature request related to a problem? Please describe.**
Sometimes it is difficult to get insights on the current state of the blockchain. All the queries must be done manually using the `cleos` tool

**Describe the solution you'd like**
To use a block explorer just like on the public EOS networks around there: bloks.io eospark.io etc

**Describe alternatives you've considered**
Block on

[2019-11-27 16:58] lucca65 opened #4 "Add unit tests to our smart contract"
**Is your feature request related to a problem? Please describe.**
We had a few minor bugs after feature deployment that could be avoided

**Describe the solution you'd like**
We we had a test stack on the smart contract that would be helpful. We can make sure the contract behaves the way we intent it to!

**Describe alternatives you've considered**
Using the default eosio std lib test framework.

[2019-11-27 17:08] lucca65 opened #5 "Add auto reload to sale creation"
**Is your feature request related to a problem? Please describe.**
When creating a new sale, after the submit we are redirected to the main shop screen. Where our newly created sale don't exist yet!

**Describe the solution you'd like**
Similar to what we had on the community creation process we need to make sure the screen only reloads after the transaction has been sent to the blockchain and con

[2019-11-27 17:17] lucca65 opened #6 "Allow usage of Spanish as a mnemonic for private key generation"
**Is your feature request related to a problem? Please describe.**
A large part of our user speak Spanish. Sometimes that have trouble with English words

**Describe the solution you'd like**
To use BIP39 implementation of mnemonics to support the user language. We have examples here: https://iancoleman.io/bip39/#spanish

**Describe alternatives you've considered**
As far as I know there is no alt

[2019-11-28 15:43] lucca65 opened #7 "Allow several images on the shop"
**Is your feature request related to a problem? Please describe.**
Right now we only allow one image in a sale. We need to allow more to follow the design for that screen

**Describe the solution you'd like**
Modify the smart contract to have a table with several images into it, those images will be IPFS hashes.

**Describe alternatives you've considered**
We could also do:

1) Add several columns

[2019-11-29 06:43] zacck commented on #1
Moving this to the front end repo as it's been determined

[2019-11-29 06:49] zacck opened #8 "Add subscriptions when something has to be written to the blockchain"
**Is your feature request related to a problem? Please describe.**
In a number of situtations our application has to write information the the blockchain then that has to be transferred to the backend and finally the front end can show it.

Sometimes it's misleading to show a user stale information such as when an action is being created, redirecting back to the objective too soon would make i it

[2019-11-29 06:58] zacck-zz commented on #5
Oh this is also affected by #8

[2019-12-01 16:47] lucca65 opened #9 "Got duplicate transaction due to lack of feedback during action claim"
**Describe the bug**
While trying to claim an action in a mobile network, I get an error

**To Reproduce**
Steps to reproduce the behaviour:
1. Turn on "slow network" setting in your browser
2. Try claiming an action
3. Don't wait, hit it again before the transaction is sent to the blockchain
4. See error

**Expected behaviour**
We need to disable the buttons until the transaction is back with suc

[2019-12-01 18:22] lucca65 opened #10 "Ignore uppercase letters during account creation"
**Describe the bug**
Some people during the sign up process happen to use uppercase letters, this will make the account creation process fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to app.cambiatus.io
2. Click on create account
3. use an account name with uppercase letters
4. See error

**Expected behavior**
Just ignore the uppercase letters, make it downcase before pushing to t

[2019-12-01 18:29] lucca65 opened #11 "Cant create account due to PIN errors"
**Describe the bug**
During the muda tests a user couldn't create account due to the PIN inputs being recognised as empty, even if it had in fact been filled

**To Reproduce**
Steps to reproduce the behavior:
1. Go to app.cambiatus.io
2. Click on "create account"
3. Fill the form
4. try to create account.

**Expected behavior**
Create account normally.

**Desktop (please complete the following inf

[2019-12-01 18:40] lucca65 opened #12 "Can't scroll on buy shop form"
**Describe the bug**
Some smaller sized devices can't scroll to the "buy" button while trying to buy a new product

**To Reproduce**
Steps to reproduce the behavior:
1. Have a small mobile device
2. Go to the shop in any community env
3. Try to buy something in the shop
4. Make sure you are using a sale with units
5. Try to scroll down to click on "Buy"
6. See the error

**Expected behavior**
We s

[2019-12-01 19:08] lucca65 opened #13 "12 characters account limitation is game breaker"
**Is your feature request related to a problem? Please describe.**
During tests it became clear that the limitation of 12 characters accounts is a huge thing, a few people literally quit while trying to create an account

**Describe the solution you'd like**
Allow to have premium accounts on our network

**Describe alternatives you've considered**
Add counters and other UX elements to help filling

[2019-12-01 21:25] lucca65 opened #14 "iOS safari zoom causes miscrolls and misclicks"
**Describe the bug**
Menu scroll don't work if the screen is zoomed in

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Dashboard
2. Zoom in a little with double pinch
3. try clicking in the menu items
4. clicks gets harder to do

**Expected behavior**
Clicks works as expected

**Smartphone (please complete the following information):**
 - Device: iPhone 8
 - OS:
 - Browser safari

[2019-12-03 15:18] lucca65 opened #15 "Move away from IPFS"
**Is your feature request related to a problem? Please describe.**
It is very frustrating to use images in the platform. Images take a while to load, sometimes they don’t appear even if the request of saving it worked.

**Describe the solution you'd like**
Just use S3

**Describe alternatives you've considered**
none

[2019-12-05 14:51] heltonlr opened #19 "Decide on how we should approach the chat feature for now on"
After fundes stopped using the chat, we don't do maintenance on it. As a result some users get confused on a button that does not work. We should think on how we are going to approach this feature for now on. Muda community uses it and we need better ways to handle that for now on

[2019-12-09 00:38] lucca65 opened #16 "Add search results"
**Is your feature request related to a problem? Please describe.**
Some people approached us asking on how one check the members of a community. Although in a new future we might have a new community screen it would be good to have search results when using the search bar

**Describe the solution you'd like**
Maybe results grouped by "Shop" "Users" "Actions" leading to the respective pages of thos

[2019-12-09 00:45] lucca65 opened #17 "Create sharable invite links"
**Is your feature request related to a problem? Please describe.**
Users have been requesting for a while now a way to invite people to their community. Although we do have a way of doing that it requires you to fill in an email. Maybe it is best for us to create just a sharable link that allow users to register. It will be easier to share via WhatsApp and other messengers apps, and it can still w

[2019-12-09 00:47] lucca65 opened #18 "Add claimer information in the verification list"
**Is your feature request related to a problem? Please describe.**
It is clear now that the verification list don't have enough information on it to help the validators to use it.

For example, check the following image:

<img width="1323" alt="Screen Shot 2019-12-08 at 21 45 41" src="https://user-images.githubusercontent.com/1082127/70399579-17d13780-1a04-11ea-8d29-3a74b635ccc9.png">

We have sev

[2019-12-09 00:56] lucca65 commented on #19
Yeah, we turned off the CHAT as no user was using it, at some point it stopped working and we never bothered checking why it was offline. Maybe this issue can become a discussion about if we need the chat and if so how are we going to implement it

[2019-12-10 06:13] zacck-zz commented on #19
@heltonlr  @lucca65 I am moving this to https://github.com/cambiatus/improvement-proposals/ so we can establish how it works first then we can come back to the implementation

[2019-12-10 06:19] zacck-zz commented on #20
@muguika  @natillasol @lucca65  @heltonlr  I am moving this discussion to https://github.com/cambiatus/improvement-proposals/ since we need to discuss this and how it works before we can start the implementation. Also this will affect more than just the front end ...

[2019-12-10 06:25] zacck commented on #17
@lucca65  we can also implement a share action and it can take a user to various social media and share options?

[2019-12-10 06:26] zacck commented on #15
@lucca65  s3 makes sense, what would we need to decide before we can implement this?

[2019-12-10 06:29] zacck-zz commented on #13
@lucca65  can't we opt out of this in EOS, also we might be able to follow the `Discord` route and allow users to make a username which we can then decorate with some sort of account code ...

[2019-12-10 06:30] zacck commented on #12
@lucca65  moving this to frontend as an issue since it will need to be fixed

[2019-12-10 06:31] zacck-zz commented on #11
@lucca65  is this still a valid issue even without the custom saitization code?

[2019-12-10 06:31] zacck commented on #10
@lucca65  moving this to the front end  happened to me yesterday

[2019-12-10 06:34] zacck-zz commented on #7
@lucca65  if we go to s3 we can use the sale id to associate the images with the sale item and all this can be done async ....

[2019-12-10 06:35] zacck commented on #6
@lucca65  what do we need to do to get this decided?

[2019-12-10 11:42] lucca65 commented on #17
sounds good! but i imagine that this is something OS specific, right?

do you have an example?

[2019-12-10 12:33] zacck commented on #17
@lucca65  I think we can use ueberauth and just use callbacks to handle the button presses from the front end https://github.com/ueberauth

[2019-12-10 12:42] zacck commented on #17
actually @lucca65  thats even hard there is simpler ways we can get the following buttons on our pages
https://developer.twitter.com/en/docs/twitter-for-websites/tweet-button/overview
https://developers.facebook.com/docs/plugins/share-button/

I am finding telegram and whatsapp buttons shortly

[2019-12-10 14:15] lucca65 commented on #17
Uberauth? but we only need to allow users to share a link, not sure why we would need to connect to their social networks.

[2019-12-10 14:16] zacck commented on #17
@lucca65  I revised it to a simpler suggestion

[2019-12-10 14:18] lucca65 commented on #19
nice @zacck. @heltonlr how do you think we should approach this?

I was thinking about questions, instead of a chat, maybe a private inbox too.... Not sure!

[2019-12-10 14:21] zacck-zz commented on #19
@lucca65  I think we need to decide which places chat is available from, Is it only just shop? or are there other places user can chat from ?
Do we only have p2p chat or is there group discussions at some point

On the implementation side, since we have sockets working I have a sweet chat implementation that can work with our stack really nice and it will be completely native..

[2019-12-10 14:24] lucca65 commented on #20
@zacck I think this is already closed as we have issues for this now:

[Frontend #85](https://github.com/cambiatus/frontend/issues/85) and the [Smart contract #3](https://github.com/cambiatus/contracts/issues/3)

[2019-12-10 14:24] #20 closed

[2019-12-10 14:25] lucca65 commented on #19
sounds good for me @zacck but I think we need to check with @heltonlr first to see what type of UX we are going to provide for the users.

[2019-12-10 14:26] zacck-zz commented on #19
@lucca65  I agree  ...

[2019-12-11 12:15] heltonlr commented on #19
Sounds good for me, do you will need interface for this @zacck? But in the meantime let's remove the button and align the interface.

[2019-12-11 12:35] heltonlr commented on #18
@lucca65  In the new dashboard we going to solve this problem, it is in approval and once approved, I will create the task.

[2019-12-11 12:36] heltonlr commented on #17
I'm working on this improvement.

[2019-12-11 14:09] lucca65 commented on #19
@heltonlr sure we will but first we should decide on what type of interaction we will need

For now we have this to remove the button: https://github.com/cambiatus/frontend/issues/110

Lets keep de discussion here

[2019-12-11 14:12] lucca65 commented on #18
Ok, in that case I'll close it for now

[2019-12-11 14:12] #18 closed

[2019-12-16 11:58] zacck commented on #15
@lucca65  I am moving this to the backend and we can discuss it further there ...

[2019-12-17 06:46] flaviagoma commented on #19
Hello guys, I fell great being here!! Just finished my first Github tutorial, now I know what a commit is and how to create a branch and a pull request  :D

So, I wonder how the discussion about the ask button is going. My personal opinion is that for starters it should be a p2p space for clarifications about the offers at the store. And maybe an email could be sent as a notification that a messag

[2019-12-17 08:16] zacck-zz commented on #19
@flaviagoma  welcome! and congratulations!

For sure having a p2p space for clarifications is a good way to introduce chat and for sure we can do email notifications and also push notifications such as those you get from popular applications

[2019-12-17 14:01] flaviagoma commented on #19
Hello @zacck, thank you! 😁
Perhaps a notification directly on the mobile would be even better...

[2019-12-17 14:03] zacck-zz commented on #19
Some parts of our system already do that, it should be reasonable to achieve for us ..

[2020-01-14 09:39] zacck opened #21 "We need to describe our workflow in order to standardise it"
**Is your feature request related to a problem? Please describe.**
As we start going back to automating various aspects of our infrastructure such as our Continuous integration system and our deploys.
I feel it is a good time to discuss our workflow which would entail us discussing the following aspects

1.  How do we discover work?
2. How do we decide ownership of work and where do different owne

[2020-01-17 14:25] lucca65 opened #22 "Sort objectives"
**Is your feature request related to a problem? Please describe.**
During community actions/objective management the order of the objectives is inconsistent and keeps changing after every update

**Describe the solution you'd like**
Sort the objectives by creation date, older ones last

**Describe alternatives you've considered**
Maybe allowing manual control over the order, maybe?

[2020-01-17 14:26] lucca65 opened #23 "Allow action editing"
**Is your feature request related to a problem? Please describe.**
We now have no way to edit an action, even if a typo or something similar occurred during the creation process

**Describe the solution you'd like**
To allow the action creation form to handle edits

[2020-01-17 14:29] lucca65 opened #24 "Actions don't respect the limit of usage"
**Describe the bug**
Actions configured with a # of usages allow more usages that configured

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a new action with a number of usages and claimable
2. Use it until there is no usage left
3. Use it one more time even though there is no usages left
4. See the error

**Expected behavior**
The claim or action execute should fail

[2020-01-17 14:32] lucca65 opened #25 "Show closed actions when the 'is_completed' flag is true"
**Is your feature request related to a problem? Please describe.**
Sometimes completed actions (that is actions with the `is_completed` flag set as true) don't show as closed in the frontend

**Describe the solution you'd like**
Display it as closed and don't enable the claim button

[2020-01-17 14:35] lucca65 opened #26 "Add button to allow completing/closing an action"
**Is your feature request related to a problem? Please describe.**
We need an easier way to set an action as completed.

**Describe the solution you'd like**
Add a button beside "claim" and "edit" that allow quick completion of the action

[2020-01-17 14:37] lucca65 opened #27 "Allow objective conclusion"
**Is your feature request related to a problem? Please describe.**
There is no way to set an objective and its child action as completed

**Describe the solution you'd like**
Allow a button or something that sets an objective and its children actions as completed

[2020-01-17 15:25] heltonlr commented on #27
hey @lucca65 , this functionality will change some elements in the interface (Objectives and Actions), I going to work in that today.

**The flow in Figma:**
https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=116%3A9387

[2020-01-21 12:22] heltonlr commented on #27
Finished Team, Let me know if you have any questions;

https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=116%3A9387

Some points:

- If an objective is marked as complete, all your actions are marked as complete and can't be edited.

[2020-01-21 12:38] heltonlr commented on #27
team, i forgot to put the mobile interfaces. Working in that now.

[2020-01-21 12:59] heltonlr commented on #27
**Done**
https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=153%3A2503

[2020-01-22 12:53] heltonlr commented on #17
functionality created on new dashboard interfaces:
https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=90%3A23

When users clicks on the link we will have two scenarios: They go to **"Login/Create account"** screen or if possible go to **community screen** (https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=275%3A23)

[2020-01-22 13:08] zacck commented on #17
moving this to the front end as it is can be implemented now

[2020-01-22 14:17] lucca65 commented on #27
this will require a change in the contract/eventsource/backend and frontend to allow the objective to have a title and a description

[2020-01-22 14:35] heltonlr commented on #27
We currently only have a title, correct? No problem, we can remove the description. I thought you had

[2020-01-22 18:12] lucca65 commented on #27
No we don't but I do think it is a good addition. We have this idea of allowing users to set a Good and a Great option to know that the objectives were completed, good being the minimum and great being the "extra". Maybe is there a way for us to add questions to the form, that would become a text?

Maybe something like:

"What would be a good measure of completion for this objective?"

The user fi

[2020-01-22 18:37] zacck-zz commented on #27
Hey @lucca65 @heltonr let me have a think and do some trials will comment
on this soon with views

[2020-01-22 18:39] heltonlr commented on #27
The idea sounds good @lucca65. I would like to suggest a meeting  for more details about this. Can you talk tomorrow?

[2020-01-22 18:40] lucca65 commented on #27
let’s schedule this meeting in slack folks

[2020-02-11 17:18] lucca65 commented on #24
Already closed

[2020-02-11 17:18] #24 closed

[2020-02-25 19:40] natillasol opened #28 "Allow decimal number in transactions"
**Is your feature request related to a problem? Please describe.**
Currently the app doe not allow decimal numbers in transactions.

**Describe the solution you'd like**
Allow for decimal numbers. This may be useful in trading small objects.

**Additional context**
<img width="338" alt="Screen Shot 2020-02-25 at 13 37 21" src="https://user-images.githubusercontent.com/57719975/75281162-5e992700-57

[2020-02-25 23:53] lucca65 commented on #23
This is now possible. Closing

[2020-02-25 23:53] #23 closed

[2020-02-25 23:53] lucca65 commented on #26
This is now possible. Closing for now

[2020-02-25 23:53] #26 closed

[2020-02-25 23:55] lucca65 commented on #27
we also have a frontend related task for this: https://github.com/cambiatus/frontend/issues/169

[2020-02-25 23:55] lucca65 commented on #27
Thanks @heltonlr we have everything we need to begin

[2020-02-25 23:57] lucca65 commented on #11
Fixed already. Closing

[2020-02-25 23:57] #11 closed

[2020-02-25 23:59] lucca65 commented on #7
We should probably just finish migrating to IPFS and adding auto reload to the shop (#5) and make it a 100% graphql mutation query. Add several pictures using our backend alone

[2020-03-27 14:28] zacck opened #29 "Intermittent Issue when Approving or Disapproving actions in the Muda enviroment"
**Describe the bug**
Xavier from Muda has an intermittent issue where when he tries to approve or disapprove an action that his to verify it fails with  a not allowed error.

Ideally he should be able to approve or disapprove actions where is a verifier

**To Reproduce**
- Open Muda Env
- Open the second objective
- Try to approve the single action

**Expected behavior**
A verifier should be able

[2020-03-27 16:16] lucca65 opened #30 "Create a new fork of our frontend"
With new necessities coming, we decided to fork our frontend to create a new simplified version. This version will only allow transfers, profile and sign up.

[2020-03-27 16:17] lucca65 opened #31 "Implement new Transfer screen"
**Is your feature request related to a problem? Please describe.**
As we redesign our app, one of the screens necessary is the Transfer: https://www.figma.com/file/47BEsGEMSWfhTm3zC0ugyA/Main-flow?node-id=2%3A337

**Describe the solution you'd like**
Implement the new screen, given the designs shared and features shown.

We'll need to PR this to both the frontend and the light-frontend versions

[2020-03-30 22:39] #29 closed

[2020-03-30 22:39] lucca65 commented on #29
solved simply by updating event-source on production

[2020-03-30 22:40] lucca65 commented on #31
already being handled on the frontend repo

[2020-03-30 22:40] #31 closed

[2020-03-30 22:40] lucca65 commented on #30
We'll be dropping this idea for now

[2020-03-30 22:40] #30 closed

[2020-04-20 15:34] lucca65 opened #32 "Implement the new dashboard"
**Is your feature request related to a problem? Please describe.**
@heltonlr created a new dashboard workflow. It includes a single community on the dashboard, a timeline, a new way to evaluate claims and new "doable" actions on a given community

**Describe the solution you'd like**
Follow this workflow and implement all the screens and features necessary

https://www.figma.com/file/nEPG6Dkns8hDV

[2020-06-12 13:58] #21 closed

[2020-07-17 20:17] lucca65 commented on #3
folks from EOS Rio are helping us with this: https://local.bloks.io/?nodeUrl=staging.cambiatus.io&coreSymbol=SYS&systemDomain=eosio

[2020-07-17 20:17] #3 closed

[2020-07-20 18:18] lucca65 opened #33 "Implement KYC"
- Create a feature entry for enabling KYC [backend#59](https://github.com/cambiatus/backend/issues/59) [frontend#314](https://github.com/cambiatus/frontend/issues/314)
  - It will need to have a param, in this case it will need to be the country "code"
  - For now we will only have it for Costa Rica
- APIs for serving form informations
  - Province/state autocompletes [backend#56](https://github.c

[2020-07-20 19:02] lucca65 commented on #33
https://es.stackoverflow.com/questions/135519/expresi%C3%B3n-regular-para-validar-c%C3%A9dula-de-identidad-de-costa-rica

[code]

https://www.consulta.tse.go.cr/consulta_persona/consulta_cedula.aspx

[2020-07-28 02:11] lucca65 opened #34 "Add expiration date to the Shop"
**Is your feature request related to a problem? Please describe.**
Users sometimes lost their account keys or simply stay a lot of time without entering the app and their sales may become stale or totally out of context. We should implement a way for sales to be temporary, effectively making all sales active at a certain extend.

**Describe the solution you'd like**
Add expiration date to all sale

[2020-07-28 02:12] lucca65 commented on #34
@heltonlr do you have any ideas on this? This happened today with a user from muda, check it out:

<img width="450" alt="Screen Shot 2020-07-27 at 23 12 03" src="https://user-images.githubusercontent.com/1082127/88611044-9693e700-d05e-11ea-9832-5242d69f99ed.png">

[2020-07-28 02:30] heltonlr commented on #34
I think these cases going to resolve when we create the new shop's interfaces with the seller's contact and communication by email. We can suggest the buyers contact the sellers first.

Maybe the Shop must be the first on prioritization queue after Ticolones.

[2020-07-28 16:45] lucca65 commented on #34
Hmm I see. Ok I trust your judgement on this! I'll close the issue then

[2020-07-28 16:45] #34 closed

[2020-08-10 19:32] lucca65 commented on #19
Guess this is on hold since December and no clients are using or requiring this for now. Some suggestions include adding WhatsApp integration to open chats directly. Anyway we will not be doing chat directly anymore! I'm closing this

[2020-08-10 19:32] #19 closed

[2020-11-03 16:07] lucca65 commented on #33
done! congrats to all involved! 👏

[2020-11-03 16:07] #33 closed

[2020-11-03 16:07] lucca65 commented on #28
its now supported as well!

[2020-11-03 16:07] #28 closed

[2021-01-11 20:12] lucca65 opened #35 "Support subdomain"
**Is your feature request related to a problem? Please describe.**
Communities need a custom URL to share with their users. That Url needs to change how we handle **joining a community**, **automatic community selection** and **Plausible** (our insight tool)

### General
Community admins will be able to configure a subdomain (following certain rules and limitations) so they have address such as `m

[2021-01-19 22:04] lucca65 opened #36 "Create Shop orders"
**Is your feature request related to a problem? Please describe.**
Today we have products and a very basic structure called `orders`. Before it was called `sale_history` because it was really only a registration of buying something from the shop. This proposal suggests a new structure to make the `order` abstraction more powerful and more useful.

**Describe the solution you'd like**
First we need

[2021-01-20 23:21] muguika commented on #36
Love this evolution of our shop! This new **"order"** abstraction seems the perfect next step towards creating a more robust experience and better information for both the seller and the client buying.

Apart from what you already suggested, we may need to think on **a way to give admin users a reading version of the total list of orders**... so the teams behind each community can see what is happ

[2021-01-21 03:38] victorgdev opened #37 "Payment Gateway Research"
## Is your feature request related to a problem? Please describe.
N/A

## Describe the solution you'd like
Payment Gateway research

## Describe alternatives you've considered
Paypal Payment Gateway API

## Additional context

Here is an [article](https://gbksoft.com/blog/how-to-integrate-paypal-payment-gateway-to-your-website/) that summarizes what is needed for integrating the PayPal gateway to

[2021-02-04 14:44] lucca65 commented on #16
closing as this is in mid implementation!

[2021-02-04 14:44] #16 closed

[2021-02-22 16:16] victorgdev opened #38 "Polkadot Blockchain Research"
**Is your feature request related to a problem? Please describe.**
NO

**Describe the solution you'd like**
New blockchain option

**Describe alternatives you've considered**

The Polkadot blockchain is a multi-chain environment where cross-chain registries and cross-chain computation are possible. What that means is that, Polkadot creates an unique blockchain ecosystem that allows arbitrary data

[2021-03-01 23:42] victorgdev opened #39 "Cardano Blockchain - Smart Contract Research"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Blockchain technology

**Describe alternatives you've considered**

**Additional context**
This is a simplified research about Smart Contracts in the Cardano blockchain. For a quick video introduction of the Cardano blockchain technology please watch this [video](https://www.youtube.com/wat

[2021-03-02 11:36] lucca65 commented on #27
This is already implemented on the backend and its being implemented with the help of @marcjal! I'll close this as we are really close to finishing it!

[2021-03-02 11:36] #27 closed

[2021-03-02 11:37] lucca65 commented on #5
This will be addressed by #8

[2021-03-02 11:37] #5 closed

[2021-03-08 11:30] lucca65 opened #40 "Improve analysis page"
**Is your feature request related to a problem? Please describe.**
Some communities have a lot of engagement and the analysis page is inefficient to handle a large number of claims. Here is a list of improvements. Those improvements aim to fix the problem of old claims staying in a limbo and to also make the validator workflow more efficient.

A clear and concise description of what the problem is

[2021-03-08 11:31] lucca65 commented on #40
@heltonlr can you provide screens to allow for those features?

[2021-03-08 11:42] heltonlr commented on #40
Certainly @lucca65, right now, there are other high priorities in the design team.  But I will check and send you a date

[2021-03-08 11:43] lucca65 commented on #40
don't worry @heltonlr its async, this repo is only for us to gather discussion points and keep in mind big features! 💪

[2021-03-08 11:48] heltonlr commented on #40
Good, probably @rafachadud will take that task after Cambiuu’s website.

[2021-04-06 20:40] lucca65 commented on #40
hey folks, let me know when you have news about this!

[2021-04-06 20:41] lucca65 commented on #13
closing this for now, as the new login alternatives presented by Natus may change this context entirely!

[2021-04-06 20:41] #13 closed

[2021-04-06 20:57] lucca65 opened #41 "Improve Authentication"
## Authentication Phase 2
Now with the basic security implemented, we now need to improve the next phase of our authentication update, this next batch should allow us to have signature verification as a password.

### New features
We still need some steps to allow greater security and flexibility!

1. Create the idea of a session, to allow us to store different devices the user is using and have c

[2021-04-06 21:49] heltonlr commented on #40
Hey @lucca65 , we don't begin yet. May we can talk about it at the prioritization meeting.

[2021-04-06 22:19] heltonlr commented on #40
"Allow hovering to show more details on a single claim (maybe have a collapsable section?)"

@lucca65 About this item, which "details" you heard the user speaking?

[2021-04-06 22:21] lucca65 commented on #40
Mainly voting and time since it was opened. Maybe we can show a progress bar? or a little text saying no one voted yet?

Some text with "opened 3 days ago" or something like this

[2021-04-06 23:24] heltonlr commented on #40
_"Group similar claims (User claimed this action X times in the last 7 days)"_

This one is complex, I think it’s worth talking to Karla. I'll try to take something on Thursday

[2021-04-06 23:50] lucca65 commented on #40
yeah, this is also one that we've talked about on the past. I still see this one as a complex feature, requiring both backend and frontend work.

But, the recommendations described on these issues are super simple and straight forward, we already have all that information available, we just don't display it really.

I we should address this "claiming x times" thing in a separate issue, because for

[2021-04-21 00:16] lucca65 commented on #8
Finally some advancements on this. Today @NeoVier discovered that we have an `responded` status on our GraphQL subscriptions, this means that we can let the frontend knows about information that was already processed (I always thought that we could only get info if we are listening when it happens `received`).

This means that its possible to create a implementation that takes a `transaction_id` i

[2021-04-21 16:55] lucca65 opened #42 "Implement NFT on Cambiatus"
**Is your feature request related to a problem? Please describe.**
No, its a brand new idea to sell, distribute and see digital goods directly into Cambiatus!

We could leverage [Dgoods](https://github.com/MythicalGames/dGoods) API to launch and create our own NFTs! It could include one time events tickets, badges for contributing, digital art certificates and more!

[2021-06-01 15:46] lucca65 opened #43 "How to handle users not aligned with Community Values"
**Is your feature request related to a problem? Please describe.**
Some times users behave badly, in a way that is not aligned with Cambiatus' Values or the community they are in values. We should have a way to remove them out of the community but there is a lot to think about.

- How should the decision be made? Via voting? Simple majority?
- What happens to the users token, product data, transfe

[2021-06-02 20:23] dianaadachi commented on #43
**Determination of a non-aligned person**
How does one determine that the user is not aligned to Cambiatus Values?
Is there a  code of conduct?
 What makes a "bad actor"?
How often do they need to "offend" to be considered not aligned?

Rejoining Cambiatus
is there no point of redemption?  I guess this depends on what action they took to get removed.
However, depending on the action do we not want

[2021-06-09 17:51] lucca65 commented on #42
We are really doing it, we now have a repo to track progress: https://github.com/cambiatus/nft.contracts

[2021-06-09 17:51] #42 closed

[2021-06-28 23:43] lucca65 commented on #43
@muguika @juramos-2020 we talked about this in our last session!

[2021-07-12 22:08] NeoVier opened #44 "Celebrate and review completed objectives"
**Is your feature request related to a problem? Please describe.**
The main goal of a community in Cambiatus is to complete objectives, which are a collection of actions. Right now, that importance is only in our heads, and it's not communicated through our app.

**Describe the solution you'd like**
Celebrate in some way when a community completes an objective, by showing an animation, a special s

[2021-07-12 22:48] lucca65 commented on #44
Thanks for this @NeoVier

@muguika we would love your ideas here!

[2021-07-12 22:52] muguika commented on #44
"Completing an objective should be something special for the community."  loved this
I think the idea of having the "statistics about the objective" is fantastic, a way to show the history of the community and the achievements they have made thanks to their currency. I can see this like moving the objective from the top part to the bottom of the community page, adding a card below the current comm

[2021-07-12 23:05] lucca65 opened #45 "Tool for checking user balance"
**Is your feature request related to a problem? Please describe.**
There is no way for community admins to check the "events" on a community. We could have a screen where it's possible to search a user and get a bunch of information related to him/she.

**Describe the solution you'd like**
- Show balance
- Show transfers
- Show Claims
- Link to block explorer

[2021-07-16 17:42] #40 closed

[2021-07-17 19:53] henriquecbuss commented on #44
@rafachadud made a nice screen + animation to show when an objective is completed! Here's the figma link: https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=2877%3A10267

[2021-07-19 16:23] rafachadud commented on #45
UIs updated without an extra search 👯

[2021-07-19 16:36] lucca65 commented on #45
Ok! no teams for now, the rest we can already work on @NeoVier

[2021-07-19 21:12] #35 closed

[2021-08-11 22:48] lucca65 commented on #46
i'm moving this into improvement proposals, we would need to implement this in the smart contract first

[2021-08-11 22:49] muguika opened #46 "Add option to activate/deactivate "Transfer to a friend""
**What we have**
On our Dashboard the feature "Transfer to a friend" is always activated for all communities.

**Proposal**
Make the "Transfer to a friend" feature something admins can activate or deactivate for their communities.

**Why**
Some communities may create their currency as a "reputational token", something that is not meant to be transferred to others. For example: the CMB-GO is not me

[2021-09-03 18:17] lucca65 opened #47 "Improve our adherence to LGPD (lei geral de proteção de dados) and other legislation regarding user privacy"
**Is your feature request related to a problem? Please describe.**
Although we use cookies throughout our platforms (Natus, Cambiatus and our websites) we don't explicitly tell our users about it, giving an explanation on how they are used and how our cookies affect them.

**Describe the solution you'd like**
Maybe we can write up a blog post about it and link it into our websites

**Describe alte

[2021-09-06 15:35] muguika commented on #47
fantastic... @lucca65  could you help us with a basic list of the cookies we use now... and we can work on the elements to notify people and the public page / blog post

[2021-09-15 14:12] lucca65 commented on #47
nice! 😎

[2021-10-05 18:20] lucca65 opened #48 "Rework our Shop feature"
### References

- https://github.com/solidusio/solidus

[2021-11-22 14:07] lucca65 commented on #7
We will do this using a full GraphQL API, after implementing authentication fully. Closing this as this is already being addressed on frontend and backend

[2021-11-22 14:07] #7 closed

[2021-11-22 14:08] lucca65 commented on #32
For now, we are done with this, as the timeline is no longer in our roadmap

[2021-11-22 14:08] #32 closed

[2021-11-22 14:38] lucca65 commented on #39
moved to a discussion on our contract repo: https://github.com/cambiatus/contracts/discussions/36

[2021-11-22 14:38] #39 closed

[2021-11-22 14:48] lucca65 commented on #38
closed in favor of a discussion in the contract repository: https://github.com/cambiatus/contracts/discussions/37

[2021-11-22 14:48] #38 closed

[2021-11-22 14:49] lucca65 commented on #44
closing as this will be addressed on the frontend

[2021-11-22 14:49] #44 closed

[2022-01-31 17:53] juramos-2020 commented on #47
@NeoVier @lucca65 aqui está o documento que usei para os textos, nele tem as traduções em EN e ES 😉👍

[2022-02-01 19:00] lucca65 commented on #47
@juramos-2020 acho que faltou o link

[2022-02-01 19:05] juramos-2020 commented on #47
Eita foi mal 🙈

Segue:

https://docs.google.com/document/d/1VN8pfmw_jzfkO9sKygM2Q49XgwSH9wyQfY3CMraNZt0/edit?usp=sharing